<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YouMustn'tBeHere</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.js"></script>
</head>
<body>
    <form method="post">
        <input type="text" name="title" placeholder="Заголовок пои"> <br> <br>
        <input type="text" name="subtitle" placeholder="Подзаголовок пои"> <br> <br>
        <input type="text" name="description" placeholder="Описание пои"> <br> <br>
        <input type="text" name="coordinate_1" placeholder="Координата 1"> <br> <br>
        <input type="text" name="coordinate_2" placeholder="Координата 2"> <br> <br>
        <input type="text" name="tags" placeholder="Тэги (через пробел)"> <br>
<!--        <input type="file" name="image" accept="image/png, image/jpeg">-->
        <button type="submit"> Добавить </button>
    </form>
</body>
</html>