<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Города</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.js"></script>
</head>
<body>
    <div class="container">
        <div style="text-align: center;">
            <h1>Города</h1>
        </div>
    </div>

    <div class="container">
        {% for town in towns %}
        <div class="row">
            <a href="#"> {{ town.name }} </a>
        </div>
        {% endfor %}
    </div>
</body>
</html>